/* Write CSS here */
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/stopwatch-lg-bg.png');
  background-size: cover;
  padding: 60px;
  height: 100vh;
  font-family: roboto;
}
.heading {
  font-size: 40px;
}
.card {
  height: 40vh;
  width: 20vw;
  padding: 20px;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 6vw;
}
.time {
  font-size: 50px;
  font-weight: 500;
  margin-top: 0px;
}
.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 16vw;
  color: #ffff;
}
.btn1 {
  background-color: #1db05f;
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: #ffff;
  height: 25px;
  width: 30%;
  cursor: pointer;
}
.btn2 {
  background-color: #ef0d36;
  padding: 8px;
  height: 25px;
  width: 30%;
  border: none;
  border-radius: 5px;
  color: #ffff;
  cursor: pointer;
}
.btn3 {
  background-color: #eaa800;
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: #ffff;
  height: 25px;
  width: 30%;
  cursor: pointer;
}
